<div class="shogun-root" data-shogun-id="6679ddcb78ba8c4c4eda8bd5" data-shogun-site-id="a08fefdd-b4e3-4a03-a05d-ab654ccb6451" data-shogun-section-id="6679ddcb78ba8c4c4eda8bd5" data-shogun-section-version-id="667ad6f851812c8ba8c70f98" data-shogun-platform-type="shopify" data-shogun-variant-id="667ad6f851812c8ba8c70fba" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-06-12-1440/667ad6f851812c8ba8c70f98_667ad6f851812c8ba8c70fba.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:700"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-06-19-2403/global-assets-1db85310bd9bb55286ea38a01deafb97002a4ba0.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3b3f502c-0ba8-44bc-9f50-ca9008da60d6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-d4bee536-11ec-40d8-b1ce-b6cdbada41ab" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><h3 style="text-align: right;"><span style="color: rgb(255, 255, 255);">Team Women&trade;</span></h3></div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Team Women Collection Hdr",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=6679ddcb78ba8c4c4eda8bd5&shop=www.xx-xyathletics.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Team Women Collection Hdr",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
