<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Sock Size</th>
      <th scope="col">Shoe Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>2.5-6</td>
    </tr>
    <tr>
      <td>M</td>
      <td>6.5-9</td>
    </tr>
    <tr>
      <td>L</td>
      <td>9.5-12</td>
    </tr>
  </tbody>
</table>
