<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Chest (in)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS (0)</td>
      <td>30-32</td>
    </tr>
    <tr>
      <td>S (2-4)</td>
      <td>32-34</td>
    </tr>
    <tr>
      <td>M (6-8)</td>
      <td>34-36</td>
    </tr>
    <tr>
      <td>L (10-12)</td>
      <td>36-38</td>
    </tr>
    <tr>
      <td>XL (14-16)</td>
      <td>38-40</td>
    </tr>
  </tbody>
</table>
