<div class="image_autoplay-ctm">
    <h3>{{ section.settings.heading_ctm }}</h3>
    <div id="slideshow">

    {% for block in section.blocks %}
        <img class="image_autoplay" src="{{ block.settings.image_auto |  image_url: width:700  }}" alt="" />
    {% endfor %}
    </div>
</div>
<script>
    var slideShow = function(container) {
    this.images = [];//public var
    this.curImage = 0; 
    for (i = 0; i < container.childElementCount; i++) {
        this.images.push(container.children[i]);
        this.images[i].style.display = "none";
    }
    
    var nextSlide = function() {
        for (var i = 0; i < this.images.length; i++) {
            this.images[i].style.display = "none";
        }
        this.images[this.curImage].style.display = "block";
        this.curImage++;
        if (this.curImage >= this.images.length) {
            this.curImage = 0;
        }
        window.setTimeout(nextSlide.bind(this), 4000);
    };
    
    nextSlide.call(this);
};
var slike = document.getElementById("slideshow");
slideShow(slike);
</script>
{% schema %}
    {
      "name": "Image Auto Play",
      "settings": [
        {
            "type": "text",
            "label": "Text",
            "id": "heading_ctm"
        }
      ],
      "blocks": [
        {
          "type": "review",
          "name": "Review",
          "settings": [
            {
              "type": "image_picker",
              "label": "Image",
              "id": "image_auto"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Image Auto Play"
        }
      ]
    }
{% endschema %}