<div class="shogun-root" data-shogun-id="669f9ffa7866836ea8ef57cf" data-shogun-site-id="a08fefdd-b4e3-4a03-a05d-ab654ccb6451" data-shogun-section-id="669f9ffa7866836ea8ef57cf" data-shogun-section-version-id="66a140a97f8f710971400f18" data-shogun-platform-type="shopify" data-shogun-variant-id="66a140a97f8f710971400f3a" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2024-07-17-3119/66a140a97f8f710971400f18_66a140a97f8f710971400f3a.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:700"/> <script type="text/javascript" src="https://cdn.getshogun.com/js-2024-07-24-4612/global-assets-193a183979f22fe4a287c5f5639ffab9f043fbfe.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3b3f502c-0ba8-44bc-9f50-ca9008da60d6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-d4bee536-11ec-40d8-b1ce-b6cdbada41ab" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><h3 style="text-align: left;"><span style="color: rgb(255, 255, 255);">RED,<br></span><span style="color: rgb(255, 255, 255);">WHITE &amp;<br>BLUE<br>COLLECTION</span></h3></div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "RWB Collection Hdr",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=669f9ffa7866836ea8ef57cf&shop=www.xx-xyathletics.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "RWB Collection Hdr",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
