.product-recommendations {
  display: block;
}
.product-recommendations__header--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-recommendations__header--container .button--with-underline {
  height: 100%;
}
.section-product-recommendations{
  padding-top: 25px !important;
  padding-bottom: 0 !important;
}
.product-recommendations__list {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 0;
  padding: 0;
  gap: 0.4rem;
  row-gap: 6.4rem;
}
.product-recommendations__product {
  width: 100%;
}
@media (min-width: 576px) {
  .product-recommendations__product {
    width: calc(50% - 0.4rem);
  }
}
@media (min-width: 990px) {
  .product-recommendations__product {
    width: calc(33.3% - 0.4rem);
  }
}
@media (min-width: 1360px) {
  .product-recommendations__product {
    width: calc(25% - 0.4rem);
  }
}
.product-recommendations__heading {
  padding-right: 2rem;
}
.product-recommendations .grid__item {
  padding-bottom: 0;
}

.product-carousel__heading.mix-match-heading {
  width: 100%;
  display: flex;
  justify-content: end;
}
