<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Length</th>
      <th scope="col">Chest</th>
      <th scope="col">Waist</th>
      <th scope="col">Hip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS (0)</td>
      <td>24¼</td>
      <td>34</td>
      <td>29-30</td>
      <td>37-38</td>
    </tr>
    <tr>
      <td>S (2-4)</td>
      <td>25</td>
      <td>36</td>
      <td>31-33</td>
      <td>39-40</td>
    </tr>
    <tr>
      <td>M (6-8)</td>
      <td>25¾</td>
      <td>38</td>
      <td>34-36</td>
      <td>41-43</td>
    </tr>
    <tr>
      <td>L (10-12)</td>
      <td>26½</td>
      <td>41</td>
      <td>37-39</td>
      <td>44-46</td>
    </tr>
    <tr>
      <td>XL (14-16)</td>
      <td>27¼</td>
      <td>44</td>
      <td>40-43</td>
      <td>47-49</td>
    </tr>
        <tr>
      <td>XXL (18-20)</td>
      <td>28¼</td>
      <td>46</td>
      <td>43-46</td>
      <td>49-52</td>
    </tr>
  </tbody>
</table>
