<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Chest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>37-39</td>
    </tr>
    <tr>
      <td>M</td>
      <td>39-41</td>
    </tr>
    <tr>
      <td>L</td>
      <td>41-43</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>43-46</td>
    </tr>
    <tr>
      <td>2XL</td>
      <td>46-49</td>
    </tr>
        <tr>
      <td>3XL</td>
      <td>49-52</td>
    </tr>
  </tbody>
</table>
