<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Waist</th>
      <th scope="col">Hip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>XS (0)</td>
      <td>24-26</td>
      <td>34-36</td>
    </tr>
    <tr>
      <td>S (2-4)</td>
      <td>27-28</td>
      <td>37-38</td>
    </tr>
    <tr>
      <td>M (6-8)</td>
      <td>29-30</td>
      <td>39-40</td>
    </tr>
    <tr>
      <td>L (10-12)</td>
      <td>31-33</td>
      <td>41-43</td>
    </tr>
    <tr>
      <td>XL (14-16)</td>
      <td>34-36</td>
      <td>44-46</td>
    </tr>
  </tbody>
</table>

<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Length</th>
      <th scope="col">Inseam (in)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7/8</td>
      <td>23"</td>
    </tr>
    <tr>
      <td>Standard</td>
      <td>25"</td>
    </tr>
    <tr>
      <td>Tall</td>
      <td>30"</td>
    </tr>
  </tbody>
</table>