{{ 'spring-page-layout.css' | asset_url | stylesheet_tag }}

<div class="shogun-root" data-shogun-id="67529e62ce705b75b1fecaf7" data-shogun-site-id="a08fefdd-b4e3-4a03-a05d-ab654ccb6451" data-shogun-section-id="67529e62ce705b75b1fecaf7" data-shogun-section-version-id="67567d5bea1f08b3147f7854" data-shogun-platform-type="shopify" data-shogun-variant-id="67567d5bea1f08b3147f78f1" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-12-04-3904/67567d5bea1f08b3147f7854_67567d5bea1f08b3147f78f1.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:700"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-10-23-0716/global-assets-0b0b8cd1e620f50502493aad30931f0273e8c344.js" defer></script> <div class="shg-box-vertical-align-wrapper  {{ section.settings.spring_review_class }}"> <div class="shg-box shg-c " id="s-17f8192e-a8a8-40f9-8a93-1ece1e238887"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-cb943cdf-4820-456e-aa8d-02646aa6f702"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-7520e5ae-1b7b-4d84-bc3a-47d85bf98114"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990-root"> <div class="shg-image-margin-container-s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990" id="wrap-s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990"> <div class="s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990 shg-align-container"> <div class="shg-c s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990 shogun-image-container shg-align-center" style="opacity: 1;" id="s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/210a44b9-20a5-4715-9fe8-37b48a4b7721/" class="shogun-image " decoding="async" loading="eager"/> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=S-TcfjrYVKo"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-6759a47a-a42d-4d9e-b9a5-4c7c8e13f990" }
    }
  </script> <div id="s-5a747da5-8432-486c-8468-39eeeabf63eb" class="shg-c "> <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-weight: 600; font-size: 20px;" data-fontweight="600">Love this cozy sweatshirt. It&rsquo;s warm, soft, and pretty. The gold zipper elevates the loungewear look. Washes well, and I hang dry it. Happy to support a company that fights for women&rsquo;s sports!</span></p> <p style="text-align: center;"><span style="font-size: 20px;">-<span style="color: rgb(149, 165, 166);">Kim B.</span></span></p></div> </div> </div> </div> </div></div> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-48f93020-615f-48d5-a192-778a47c862f2"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-c328f551-36da-40e1-b50c-222d42fdde11-root"> <div class="shg-image-margin-container-s-c328f551-36da-40e1-b50c-222d42fdde11" id="wrap-s-c328f551-36da-40e1-b50c-222d42fdde11"> <div class="s-c328f551-36da-40e1-b50c-222d42fdde11 shg-align-container"> <div class="shg-c s-c328f551-36da-40e1-b50c-222d42fdde11 shogun-image-container shg-align-center" style="opacity: 1;" id="s-c328f551-36da-40e1-b50c-222d42fdde11"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/210a44b9-20a5-4715-9fe8-37b48a4b7721/" style="opacity: 0.95;" class="shogun-image " decoding="async" loading="eager"/> <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=S-TcfjrYVKo"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-c328f551-36da-40e1-b50c-222d42fdde11" }
    }
  </script> <div id="s-8c2167e5-5d1e-417a-8fbf-dc10649ba35a" class="shg-c "> <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-weight: 600; font-size: 20px;" data-fontweight="600">Well made, comfortable and on point with the times we live it. I always get compliments on the message. Happy to represent women and girls right to be ourselves.</span></p> <p style="text-align: center;"><span style="color: rgb(126, 140, 141); font-size: 20px;"><strong>-</strong>June B.</span></p></div> </div> </div> </div> </div></div> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "Adding review quotes",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=67529e62ce705b75b1fecaf7&shop=www.xx-xyathletics.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      },
      {
        "type": "text",
        "id": "spring_review_class",
        "label": "Spring Review Class"
      }
    ],
    "presets": [
      {
        "name": "Adding review quotes",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
