.popular-card__badge span {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.075em;
  color: rgb(var(--color-base-text));
  text-transform: uppercase;
}
.popular-card__badge span svg {
  margin-left: 0.4rem;
}
.popular-card .card-information__wrapper > *:not(.visually-hidden:first-child) + * {
  margin-top: 1rem;
  line-height: 145%;
}
.popular-card .card-information__wrapper .card-information__bottom {
  margin-top: 2.4rem !important;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: rgb(var(--color-base-text));
}