@charset "UTF-8";
.collection-product-card {
  position: relative;
  margin: 0;
  transition: all var(--duration-long) ease;
  overflow: hidden;
}
.collection-product-card .badge {
  position: relative;
}
.collection-product-card .caption-with-letter-spacing {
  margin-top: 0;
  text-transform: uppercase;
  color: rgb(var(--color-foreground), 0.75);
  line-height: 1;
}
@media screen and (min-width: 990px) {
  .collection-product-card:hover .card__link {
    opacity: 1;
  }
}


.card-wrapper {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: transparent;
}

.card-wrapper__image {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: var(--duration-default);
}

.full-unstyled-link,
.placeholder-svg {
  transition: var(--duration-default);
}

.card-wrapper__link--overlay {
  display: block;
  text-decoration: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  z-index: 1;
}

.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card-information {
  position: relative;
  z-index: 2;
  pointer-events: all;
}

.card__inner {
  position: relative;
  display: block;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title_info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: end;
  flex-direction: column;
}

.swatch-variant-onsale .card__badge{
  display: block !important;
}
.wide-price .card__badge,
.wide-price .flex_badge_price,
.wide-price .price__regular{
  display: none;
}
.card__title {
  margin: 0;
  font-size: 15px;
  text-transform: capitalize;
  z-index: 22;
  letter-spacing: 0;
}
.card__title a,
.card__title p {
  letter-spacing: 0;
}
.card__title:hover .full-unstyled-link {
  color: rgba(var(--color-foreground), 0.75);
  transition: all var(--duration-short) ease;
}

.caption-with-letter-spacing {
  max-width: 25.5rem;
  padding-top: 0.6rem;
}

.card__description {
  font-family: var(--font-text-card-family);
  font-style: var(--font-text-card-style);
  font-weight: var(--font-text-card-weight);
  font-size: var(--font-text-card-size);
  padding-top: 0.6rem;
}

.card__link {
  width: calc(100% - 3.2rem);
  max-height: 6rem;
  min-height: 6rem;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translate(-50%) translateY(50%);
  opacity: 0;
  z-index: 3;
  pointer-events: all;
  font-size: var(--button-text-size);
  padding: 2rem;
  transition: background var(--duration-default), color var(--duration-default), border var(--duration-default);
  cursor: pointer;
  box-shadow: none;
  height: auto;
  font-family: var(--font-button-family);
  font-weight: var(--font-button-weight);
  font-style: var(--font-button-style);
  letter-spacing: 0.1em;
  text-transform: var(--font-button-text-transform);
}
.card__link.loading {
  opacity: 0.5;
  pointer-events: none;
}
.card__link.loading span {
  opacity: 0;
}
.card__link.button--primary, .card__link.button--secondary {
  min-width: 0;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--product {
  position: relative;
}

.card__inner {
  background-color: rgba(var(--color-background));
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-base-text), 0.04);
}

.card--text-only .card__inner {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.card--text-only .card__badge {
  align-self: flex-end;
  grid-row: 3;
}

.card--search .card__badge > *,
.card--text-only .card__badge > * {
  margin: 0 1rem 1rem;
}

.card--search .card__badge,
.card--text-only .card__badge {
  position: initial;
}

.card--text-only .card__content + .card__badge {
  margin-top: -5rem;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-wrapper .media {
  padding: 0 !important;
  background-color: #fff;
  aspect-ratio: 0.67/1;
  width: 100%;
  height: auto;
}

.card-wrapper .media > img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content + .card__badge {
    margin-top: -7rem;
  }
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card--text-only .card__text {
  text-align: center;
}

.card-information__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-top: 0.6rem;
  justify-content: space-between;
}

.price-item {
  font-size: var(--font-body-size);
  letter-spacing: 0;
  transition: var(--duration-short);
}

.price .price__sale .price-item--regular {
  font-size: var(--font-body-size) !important;
}

.card-information__wrapper > *:not(.visually-hidden:first-child) + .price {
  margin-top: 2.4rem;
}

.collection-product-card {
  padding: 0;
}

.cart__footer-wrapper + .collection-products-section .collection-product-card:hover .card__link {
  opacity: 0;
}

.card-wrapper:focus-within .card {
  box-shadow: none;
}

@media screen and (min-width: 750px) {
}

.card__badge {
  transition: opacity var(--duration-default);
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img,
  .card-wrapper .media.media--hover-effect > img {
    transition: transform var(--duration-default) ease, opacity var(--duration-default) ease;
  }
  .card__inner .media.media--hover-effect {
    transition: transform var(--duration-default) ease, opacity var(--duration-default) ease;
  }
  .card--search img {
    transition: transform var(--duration-default) ease, opacity var(--duration-default) ease;
  }
  .card-wrapper:hover .card__heading {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  .card-wrapper:hover .card.card--search {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  }
}
.card-information {
  padding: 8px 0 0px 5px;
}
@media (min-width: 425px) and (max-width: 440px) {
  .card-information {
    padding-right: 15px;
  }
}

@media screen and (min-width: 990px) {
  .collection-product-card.quickview--hover:hover .card-wrapper__image {
    opacity: 1;
    transform: scale(1.1);
  }
  .collection-product-card.quickview--hover:hover .placeholder-svg {
    transform: scale(1.1);
  }
  .collection-product-card.quickview--hover:hover .media.media--hover-effect > img:first-child:not(:only-of-type) {
    opacity: 0;
    transform: scale(1.1);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .collection-product-card.quickview--hover:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transform: scale(1.1);
    transition: transform var(--duration-default) ease, opacity var(--duration-default) ease;
  }
  .collection-product-card.quickview--hover:hover .media.media--hover-effect > img {
    transform: scale(1.1);
    transition: transform var(--duration-default) ease, opacity var(--duration-default) ease;
  }
  .collection-product-card.quickview--hover:hover .card__badge {
    opacity: 0;
    pointer-events: none;
  }
}

.card__sku {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(var(--color-foreground), 0.75);
  margin: 0;
  padding-top: 0.6rem;
  line-height: 1;
}
ul.swatch-view{
  padding: 3px 0px;
}
#ProductGridContainer .collection-product-card.quickview .swatch-view {
  margin: -8px 0px !important;
}
.card-information .card-title_info .price__sale span.badge.badge--bottom-left {
  font-weight: 400;
  color: #ba2e3f;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 22px;

}
.card-information .card-title_info .compareatprice_active{
  color: #ba2e3f;
}
@media screen and (max-width:768px){
  .card-information__wrapper {
      flex-direction: column;
  }
  .card-title_info {
  justify-content: start;
    align-content: baseline;
  }
  .card-information .card-title_info .card__badge {
    margin-right: auto;
    margin-left: 0;
  }
  .card-information .card-title_info .price--on-sale .price__sale {
      gap: 5px;
  }
  }
  @media screen and (max-width:575px){ 
  .card-information .card-title_info .price__sale span.badge.badge--bottom-left {
      padding: 1px 8px;
      font-size: 12px;
      line-height: 20px;
  }
  
  }
.swatch-variant-onsale .card-title_info .mini-price .price.price--on-sale .price-item--regular{
  order: 2;
}
.swatch-variant-onsale .card-title_info .mini-price .price--on-sale{
  flex-wrap: nowrap;
}
.swatch-variant-onsale .card-title_info .mini-price .price.price--on-sale .price-item--sale{
  color: #ba2e3f;
}
.price.price--on-sale {
    gap: 4px;
}



.main-product-page .product.fullscreen-container.row {
  padding-top: 0 !important;
}

.template-collection-general-collection .banner_promo-ctm .MetaobjectDrop__container,
.arrival-img-card-new img {
  width: 100% !important;
  object-fit: cover !important;
  aspect-ratio: 16 / 9 !important;
  height: 100% !important;
  object-position: bottom;
}
@media(max-width:990px){
.template-collection-general-collection .banner_promo-ctm .MetaobjectDrop__container,
.arrival-img-card-new img {
  width: 100% !important;
  object-fit: cover !important;
  aspect-ratio: 1 !important;
  height: 100% !important;
  object-position: bottom;
}
}

.product_item_price .price-wrapper .price .flex_badge_price .price-item.price-item--sale, .price-wrapper .price .flex_badge_price .price-item.price-item--regular {
  font-size: 16px !important;
  font-weight: 600;
  line-height: 1.2;
}
.product_item_price .price-wrapper .price .card__badge .badge {
  font-size: 14px !important;
  font-weight: 500;
}
.product_item_price .price-wrapper .price{
  margin-bottom: 10px;
}
.mobile_product_title_wrapper h4.mobile_product_title {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.product_item_price .price-wrapper {
  margin-top: 10px !important;
}
.mobile_product_title_wrapper .product-review-price {
  display: flex;
  align-items: center;
}
.mobile_product_title_wrapper {
  margin-bottom: 15px;
}
.product_item_reviews .yotpo-widget-instance, .product_item_price .price-wrapper {
  display: block !important;
}
.mobile_product_tagline.product__subtitle {
  display: none;
}
@media (max-width: 767px) {
  .product__modal-opener {
    width: 100% !important;
  }
  .product__title__wrapper h4, .price-wrapper--desktop, .product__title__wrapper .product__subtitle {
    display: none !important;
 }
 .mobile_product_tagline.product__subtitle {
  display: block;
}
 .price-wrapper--mobile {
  display: block !important;
}
}
