.rich-text {
  margin: auto;
  max-width: 110rem;
  text-align: center;
  
  width: calc(100% - 3rem);
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  
  width: calc(100% - 5rem);
}
.rich-text__blocks .title--section em {
  line-height: 0;
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}
.rich-text .rich-text__blocks .rich-text__text p {
  font-size: 24px;
  line-height: 1.5;
}
.rich-text--full-width .rich-text__blocks {
  
  width: calc(100% - 8rem);
}

@media screen and (min-width: 750px) {
  .rich-text {
    
    width: calc(100% - 10rem);
  }
  .rich-text__blocks {
    max-width: 50rem;
  }
  .rich-text--full-width .rich-text__blocks {
    
    max-width: 98.2rem;
  }
  .rich-text--full-width.ctm-group-sale .rich-text__blocks {
    
    max-width: 110.2rem;
  }
}
@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 78rem;
  }
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 1.6rem;
}

.rich-text__blocks > * + a {
  margin-top: 4.8rem;
}

.rich-text__text p {
  margin: 0;
}