<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Waist</th>
      <th scope="col">Hip</th>
      <th scope="col">Inseam</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>29-30</td>
      <td>37-39</td>
      <td>29</td>
    </tr>
    <tr>
      <td>M</td>
      <td>31-32</td>
      <td>39-41</td>
      <td>29</td>
    </tr>
    <tr>
      <td>L</td>
      <td>33-34.5</td>
      <td>41-44</td>
      <td>29</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>36.5-38.5</td>
      <td>44-46</td>
      <td>29</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>40-42</td>
      <td>47-49</td>
      <td>29</td>
    </tr>
  </tbody>
</table>