<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 container_fluid page-widths page-margins center py-55 desktop:py-80">
  <div class="container_y">
    <img
      class="mx-auto mb-40 w-full h-full object-cover max-w-[635px]"
      src="https://cdn.shopify.com/s/files/1/0792/4904/7864/files/Group.png?v=1711630108"
      alt="img_404"
      loading="lazy"
      width="636"
      height="546"
    >
    <div class="title_text">
      <h1 class="pb-0">
        <div class="text-bloodstone">{{ 'templates.404.subtext' | t }} Error</div>
      </h1>
      <h3 class="titles text-dark_grey font-body font-normal capitalize mdscreen:!text-20">
        {{ 'templates.404.title' | t }}
      </h3>
    </div>
  </div>
</div>
