<div class="mattress_comparison_section pt-55 desktop:pt-80 pb-40 {{ section.settings.extra_class }}">
  <div class="container_fluid">
    <div class="desktop:px-30">
      <div class="mattress_title_inner text-center pb-40">
        <div class="content_heading mb-14">
          <h3>{{ section.settings.headline }}</h3>
        </div>
        <div class="content_description">
          <h6>{{ section.settings.desc }}</h6>
        </div>
      </div>
      <div class="content_image rounded-24 overflow-hidden">
        <img
          class="w-full h-full object-cover"
          src="{{ section.settings.add_img | image_url: width: 2500 }}"
          alt="mattress_comparison"
          loading="lazy"
          width="1252"
          height="694"
        >
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Mattress Comparison",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "extra_class",
      "label": "Extra Class"
    },
    {
      "type": "text",
      "label": "Headline",
      "id": "headline"
    },
    {
      "type": "text",
      "label": "Description ",
      "id": "desc"
    },
    {
      "type": "image_picker",
      "label": "Add Image",
      "id": "add_img"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Mattress Comparison"
    }
  ]
}
{% endschema %}
