<div class="px-30 pt-100 lg:px-35 small_desktop:px-80 desktop:px-100 mockup-content">
  <div>
    <h1 class="h1 section_title">
      <span class="title_black">Lorem Ipsum Dolor</span> <span class="title_orange">Sit Amet</span>
    </h1>
    <p class="mb-28">Labore reprehenderit corporis ullam distinctio ex.</p>
    <p class="mb-28">
      Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam. temporibus
      minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat
      excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
    </p>
    <p class="mb-28">
      Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto culpa
      molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa earum
      itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit tempora.
    </p>
    <ol>
      <li>Perferendis tempor</li>
      <li>Minim eiusmod</li>
      <li>Tempor</li>
      <li>Minus quia sint</li>
    </ol>
  </div>
  <div class="mt-40 mdscreen:mt-30">
    <h1 class="h1 section_title mb-28">
      <span class="title_black">VOLUPTATES MOLLITIA QUOD TEMPORE</span>
      <span class="title_orange">LABORIS COMMODI</span>
    </h1>
    <p class="mb-28">
      Proident dolores corrupti consequatur voluptatibus labore commodi quos. Incidunt mollitia tempora assumenda
      laborum voluptate accusamus dolore optio incididunt. Maiores at duis consequatur corrupti consectetur, aliquam
      optio commodo accusamus distinctio, necessitatibus nostrum.
    </p>
    <p>
      Optio, nesciunt, quo, fugiat, blanditiis at quas excepturi quae maiores vel corrupti voluptate cupiditate nemo!
      In, eius quidem harum quibusdam ratione non. Iste, deleniti, fugit, voluptas aperiam qui adipisci provident ab
      accusantium possimus eveniet voluptate consectetur!
    </p>
  </div>
  <div class="mt-55 mdscreen:mt-30">
    <h1 class="h1 mb-28 section_title">REPELLAT OPTIO</h1>
    <h3 class="mb-10 title_orange ">ad perferendis omnis</h3>
    <p class="mb-28">
      Pariatur animi quis. Dolorem cupiditate <a href="#"> praesentium duis</a> iusto corrupti nobis nostrud,
      exercitation consequatur. Nulla minim dignissimos reprehenderit voluptatem. Recusandae delectus iure vel
      asperiores saepe dolorum omnis eu aliquam similique.
    </p>
    <blockquote class="relative mb-28">
      Fuga rerum laboris officia cupidatat, excepteur aliquid ut quis facere, cumque harum optio dignissimos. Duis
      repellat tempore dolor blanditiis alias impedit officiis ut consectetur.
    </blockquote>

    <p class="p-20 bg-[#f4f4f4] mb-28">
      body { <br>
      color: orange; <br>
      }
    </p>
  </div>
  <div>
    <h3 class="mb-10 title_orange">Quibusdam Illum Quo</h3>
    <p class="mb-28">
      Quos laboris eos, laborum animi. Ea blanditiis ducimus fugiat officia nostrud consectetur recusandae excepteur.
      Quis qui maiores distinctio facilis saepe eos.
    </p>
  </div>
  <div>
    <h4 class="mb-10 title_orange">Consectetur Nobis Consequat Voluptates Eiusmod</h4>
    <p class="mb-28">
      Iure vel nostrud repellendus. <a href="#">Nostrud</a> autem consequatur, provident officiis qui, mollit
      exercitation. Veniam minus cillum suscipit aliqua, tenetur. Anim mollitia necessitatibus ad quos consectetur
      voluptatem do <a href="#">corporis</a>.
    </p>
    <ul class="gradient_list mb-28 mdscreen:mb-14">
      <li>Perferendis tempor</li>
      <li>Minim eiusmod</li>
      <li>Tempor</li>
      <li>Minus quia sint</li>
    </ul>
    <p class="mb-28">
      Corporis eligendi minim, enim proident reprehenderit iusto. Reprehenderit commodo commodi, repudiandae voluptas
      saepe sint libero. Praesentium eius distinctio ullamco vero iusto praesentium eligendi animi. Consectetur dolore
      vero similique dolore, ut labore omnis.
    </p>
    <h4 class="mb-10">maxime alias anim aimilique</h4>
    <p>
      Omnis corporis assumenda nisi ullam dolores culpa repellat. Molestias praesentium necessitatibus minus, reiciendis
      officiis commodo incidunt. Consectetur nostrud odio numquam tenetur.
    </p>
  </div>
  <hr class="my-55 mdscreen:my-30 bg-bloodstone from-purple to-dark_purple w-full h-1">
  <div class="mockup-headings">
    <h1 class="mb-28 mdscreen:mb-14 !capitalize">heading level 1</h1>
    <h2 class="mb-28 mdscreen:mb-14 ">heading level 2</h2>
    <h3 class="mb-28 mdscreen:mb-14 ">heading level 3</h3>
    <h4 class="mb-28 mdscreen:mb-14 ">heading level 4</h4>
    <h5 class="mb-28 mdscreen:mb-14 text-16  ">heading level 5</h5>
    <p class="mb-28 mdscreen:mb-14">Paragraph with <b>blod</b>, <i>italic</i> <a href="#">link</a> and code styles.</p>
    <blockquote>Blockquote</blockquote>
    <p class="mb-28 mdscreen:mb-14 text-16 leading-22 new-mockup-headings">Caption text</p>
  </div>
  <div class="mockup-list">
    <ol class="mb-40">
      <li>Ordered list element one</li>
      <li>Ordered list element two</li>
      <li>Ordered list element three</li>
    </ol>
    <ul class="gradient_list">
      <li>Unordered list element one</li>
      <li>Unordered list element two</li>
      <li>Unordered list element three</li>
    </ul>
  </div>
</div>
<div class="desktop:px-100 pb-100 smscreen1:px-[25px] mdscreen4:px-[40px]  xlscreen1:px-[60px] mockup-content">
  <div class="!grid small_desktop:grid-cols-2 gap-55 md:grid-cols-2 mdscreen:!grid-cols-1 mt-55 mdscreen:mt-30 mdscreen:gap-28 mb-0">
    <div>
      <h4 class="pb-10 title_orange">Column One</h4>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Two</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
  </div>
  <div class="!grid small_desktop:grid-cols-3 gap-55 md:grid-cols-2 mdscreen:!grid-cols-1 mt-55 mdscreen:mt-30 mdscreen:gap-28">
    <div>
      <h4 class="pb-10 title_orange">Column One</h4>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Two</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Three</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
  </div>
  <div class="!grid small_desktop:grid-cols-4 gap-55 md:grid-cols-2 mdscreen:!grid-cols-1 mt-55 mdscreen:mt-30 mdscreen:gap-28">
    <div>
      <h4 class="pb-10 title_orange">Column One</h4>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Two</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Three</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
    <div>
      <h4 class="pb-10 title_orange">Column Four</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip reprehenderit nihil veniam tempora do maxime omnis reiciendis elit
        tempora.
      </p>
    </div>
  </div>
  <div class="flex gap-x-55 xlscreen4:gap-x-30 xlscreen:gap-y-20 items-start xlscreen:flex-col mt-55 mdscreen:mt-30">
    <div class="w-[75%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Main Column</h4>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a>quis aliquam. temporibus
        minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat
        excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
    <div class="w-[25%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Sidebar</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip.
      </p>
    </div>
  </div>
  <div class="flex gap-x-55 xlscreen4:gap-x-30 xlscreen:gap-y-20 items-start xlscreen:flex-col mt-55 mdscreen:mt-30">
    <div class="w-[25%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Sidebar</h4>
      <p>
        Quos atque officia quod. Suscipit delectus cupidatat, quia nulla numquam aute cillum proident. Maiores iusto
        culpa molestias quam id tenetur saepe impedit reiciendis itaque ducimus itaque nostrud. Tempor aliquip, culpa
        earum itaque sed consequatur minus aliquip.
      </p>
    </div>
    <div class="w-[75%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Main Column</h4>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a>quis aliquam. temporibus
        minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat
        excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
  </div>
  <div class="flex gap-x-55 xlscreen4:gap-x-30 xlscreen:gap-y-20 items-center xlscreen:flex-col mt-55 mdscreen:mt-30">
    <div class="w-[25%] lgscreen:w-full relative">
      <p class="new-mockup-headings text-12 leading-22">This is an inline caption.</p>
    </div>
    <div class="w-[75%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Main Column</h4>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
  </div>
  <div class="flex gap-x-55 xlscreen4:gap-x-30 xlscreen:gap-y-20 items-center xlscreen:flex-col mt-55 mdscreen:mt-30">
    <div class="w-[75%] lgscreen:w-full">
      <h4 class="mb-10 title_orange">Main Column</h4>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p class="mb-28">
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
      <p>
        Consectetur adipisicing elit, alias at autem magna aliquid <a href="#">quam proident</a> quis aliquam.
        temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae
        consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
      </p>
    </div>
    <div class="w-[25%] lgscreen:w-full">
      <p class="new-mockup-headings text-12 leading-22">This is an inline caption.</p>
    </div>
  </div>
</div>

{% schema %} { "name": "Mockup", "settings": [], "presets": [ { "name": "Mockup" } ] } {% endschema %}
