<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Sock Size</th>
      <th scope="col">Shoe Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>4-7.5</td>
    </tr>
    <tr>
      <td>M</td>
      <td>8-10.5</td>
    </tr>
    <tr>
      <td>L</td>
      <td>11-13</td>
    </tr>
  </tbody>
</table>
