<table class="size-chart">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Chest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>S</td>
      <td>34-36</td>
    </tr>
    <tr>
      <td>M</td>
      <td>36-38</td>
    </tr>
    <tr>
      <td>L</td>
      <td>38-40</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>40-43</td>
    </tr>
    <tr>
      <td>XXL</td>
      <td>43-45</td>
    </tr>
  </tbody>
</table>